* {
    box-sizing: border-box;
    font-family: poppins;
}

body {
    background-color: var(--main-bg-clr);
}

main {
    border-radius: 10px;
    background-color: var(--main-content-clr);
    margin: 10px 10px 10px 15px;
    padding: 20px 15px;
}

footer{
    padding: 20px 0;
}