.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--gallery-img-width), 1fr));
    justify-content: center;
    align-items: center;
    gap: 20px;
    transition: 0.4s;
}

.gallery-container .img-container {
   margin: 0 auto;
}

.gallery-img {
    width: var(--gallery-img-width);
    border-radius: 10px;
    box-shadow: 0px 3px 10px 0px black;
    cursor: pointer;
}

.gallery-img:hover {
    box-shadow: 0px 3px 20px 0px black;
    transition: .3s;
    transform: scale(1.2);
}

.gallery-img:not(:hover) {
    transition: .3s;
}

.im-flexible-btn {
    background-color: var(--clr2);
    border: none;
    border-radius: 20px;
    display: block;
    margin: 0 auto 10px;
    padding: 5px 15px;
}

.im-flexible-btn:hover {
    background-color: var(--clr1);
}